In [1]:
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

In [2]:
import pandas
import numpy
%matplotlib notebook
import general
import discretionary_aua
import vantage_aua
from data_access.data_accessing import pull_data_for_model, read_assumptions_from_google_sheet
import revenue
import costs
import consolidated
import discf
import combined
from ipywidgets import widgets, Output, interact, IntSlider
from IPython.display import display, clear_output, DisplayHandle
import stats
pandas.set_option('display.float_format', '{0:,.4f}'.format)               
idx = pandas.IndexSlice
cached_displays = {}

Database connected successfully.

In [3]:
main_assumption = '1Efpnu_YVffR5Dtu6qO4RBgcjopsMWc3cTo7rk8j8VAY'

case1 = '1ilUG4pAkAyItpubRGp2-HOmg6889siOJADjs49WEWn4'
case2 = '1wVmxvqB4IL35bl5Y5h0-PeVc8IAXPIYXsCD0aCy8UZ4'
worst_case = '1JQHpPAktAoR9P8CAwM4nG9KBDdGShI46D1-3tgSjrqE'
case4 = '17FoaXFMt8xB84qcN8XZ4l-fID8vtXcVF2ykcdnO7w2Q'


second_assumption = '17FoaXFMt8xB84qcN8XZ4l-fID8vtXcVF2ykcdnO7w2Q'
print('Pulling data...')

data_dic = pull_data_for_model()

input_dic = read_assumptions_from_google_sheet(main_assumption)

print('Data pulled successfully.')

Pulling data...
Data pulled successfully.

In [4]:
assumption_button = widgets.Button(description='Update assumptions',layout=widgets.Layout(width='20%',height='40px'))
assumption_button.style.button_color = 'lightgreen'
def update_assumption(dummy):
    global input_dic
    input_dic = read_assumptions_from_google_sheet(main_assumption)
    print ('Assumptions updated successfully...')

assumption_button.on_click(update_assumption)
display(assumption_button)

Button(description='Update assumptions', layout=Layout(height='40px', width='20%'), style=ButtonStyle(button_c…

In [5]:
def freeze_header(df, num_rows=25, num_columns=3, step_rows=1,
                  step_columns=1):
    """
    Freeze the headers (column and index names) of a Pandas DataFrame. A widget
    enables to slide through the rows and columns.

    Parameters
    ----------
    df : Pandas DataFrame
        DataFrame to display
    num_rows : int, optional
        Number of rows to display
    num_columns : int, optional
        Number of columns to display
    step_rows : int, optional
        Step in the rows
    step_columns : int, optional
        Step in the columns

    Returns
    -------
    Displays the DataFrame with the widget
    """
    @interact(last_row=IntSlider(min=min(num_rows, df.shape[0]),
                                 max=df.shape[0],
                                 step=step_rows,
                                 description='rows',
                                 readout=False,
                                 disabled=False,
                                 continuous_update=True,
                                 orientation='horizontal',
                                 slider_color='purple'),
              last_column=IntSlider(min=min(num_columns, df.shape[1]),
                                    max=df.shape[1],
                                    step=step_columns,
                                    description='columns',
                                    readout=False,
                                    disabled=False,
                                    continuous_update=True,
                                    orientation='horizontal',
                                    slider_color='purple'))
    def _freeze_header(last_row, last_column):
        display(df.iloc[max(0, last_row-num_rows):last_row,
                        max(0, last_column-num_columns):last_column])

In [6]:
def display_with_out(f, out_obj, *args, **kwargs):
    with out_obj:
        index_slice = kwargs.get('slice', None) # list of indices
        if index_slice:
            result = f(*args).loc[index_slice]
        else:
            result = f(*args, **kwargs)
        if result is not None:
            if isinstance(result, pandas.DataFrame):
                freeze_header(result)
            else:
                display(result)
            return result

In [7]:
out10 = Output()
libor_change_value = -0.0025
libor_box_layout = widgets.Layout(display='flex', flex_flow='column', align_items='stretch',border='solid',width='auto')
year_w = widgets.IntText(value=data_dic['Index price'].dropna('index', how='all').index[-1].year, placeholder='Integer', description='Year:')
month_w = widgets.IntText(value=data_dic['Index price'].dropna('index', how='all').index[-1].month, placeholder='Integer', description='Month:')
date_w = widgets.IntText(value=data_dic['Index price'].dropna('index', how='all').index[-1].day + 1, placeholder='Integer', description='Day:')
left_libor_box = widgets.VBox([year_w, month_w, date_w], layout=libor_box_layout)
annual_libor = widgets.FloatText(value=data_dic['Index price']['Annual LIBOR'].fillna(method='ffill')[-1]+libor_change_value, placeholder='Percentage as decimals',description='Annual LIBOR')
overnight_libor = widgets.FloatText(value=data_dic['Index price']['Overnight LIBOR'].fillna(method='ffill')[-1]+libor_change_value, placeholder='Percentage as decimals',description='Overnight LIBOR')
one_month_libor = widgets.FloatText(value=data_dic['Index price']['1_month LIBOR'].fillna(method='ffill')[-1]+libor_change_value, placeholder='Percentage as decimals',description='1_month LIBOR')
three_month_libor = widgets.FloatText(value=data_dic['Index price']['3_month LIBOR'].fillna(method='ffill')[-1]+libor_change_value, placeholder='Percentage as decimals',description='3_month LIBOR')
right_libor_box = widgets.VBox([annual_libor, overnight_libor, one_month_libor, three_month_libor], layout=libor_box_layout)
display(widgets.HBox([left_libor_box, right_libor_box]))

def add_libor_rates(annual, overnight, one_month, three_month):
    date_str = str(year_w.value) + '-' + str(month_w.value) + '-' + str(date_w.value)
    dt = pandas.to_datetime(date_str)
    data_dic['Index price'].loc[dt, :] = numpy.nan
    data_dic['Index price'].loc[dt, 'Annual LIBOR'] = annual
    data_dic['Index price'].loc[dt, 'Overnight LIBOR'] = overnight
    data_dic['Index price'].loc[dt, '1_month LIBOR'] = one_month
    data_dic['Index price'].loc[dt, '3_month LIBOR'] = three_month
    print('LIBOR rates changed successfully...')

change_libor_button = widgets.Button(description='Add LIBOR rates', layout=widgets.Layout(width='auto', height='40px'))
change_libor_button.on_click(lambda x: display_with_out(add_libor_rates, out10, annual_libor.value, overnight_libor.value, one_month_libor.value, three_month_libor.value))
change_libor_button.style.button_color = 'lightgreen'
display(change_libor_button)

HBox(children=(VBox(children=(IntText(value=2019, description='Year:'), IntText(value=9, description='Month:')…

Button(description='Add LIBOR rates', layout=Layout(height='40px', width='auto'), style=ButtonStyle(button_col…

In [8]:
display(out10)

Output()

In [9]:
out = Output()

revenue_types = ['Semi-annual revenue','Annual revenue - FY','Annual revenue - CY','Consolidated semi-annual revenue','Consolidated annual revenue - FY','Consolidated annual revenue - CY', 'clear outputs']
box_layout = widgets.Layout(display='flex', flex_flow='column', align_items='stretch',border='solid',width='30%')
items = {}
for w in revenue_types:
    if w == 'clear outputs':
        items[w] = widgets.Button(description=w, layout=widgets.Layout(width='100%', height='40px'), button_style='warning', icon='check')
    else:
        items[w] = widgets.Button(description=w,layout=widgets.Layout(width='100%', height='40px'))
        items[w].style.button_color = 'lightgreen'
left_box = widgets.VBox([list(items.values())[0],list(items.values())[1],list(items.values())[2]],layout=box_layout)
right_box = widgets.VBox([list(items.values())[3],list(items.values())[4],list(items.values())[5], list(items.values())[6]],layout=box_layout)
items['Semi-annual revenue'].on_click(lambda x: display_with_out(revenue.semi_revenue,out,data_dic,input_dic))
items['Annual revenue - FY'].on_click(lambda x: display_with_out(revenue.annual_revenue,out,data_dic,input_dic))
items['Annual revenue - CY'].on_click(lambda x: display_with_out(revenue.annual_revenue,out,data_dic,input_dic,cal_year=True))
items['Consolidated semi-annual revenue'].on_click(lambda x: display_with_out(consolidated.revenue_analysis,out,data_dic,input_dic))
items['Consolidated annual revenue - FY'].on_click(lambda x: display_with_out(consolidated.annual_revenue_analysis,out,data_dic,input_dic))
items['Consolidated annual revenue - CY'].on_click(lambda x: display_with_out(consolidated.annual_revenue_analysis,out,data_dic,input_dic,cal_year=True))
items['clear outputs'].on_click(lambda x: display_with_out(clear_output,out))
widgets.HBox([left_box,right_box])

HBox(children=(VBox(children=(Button(description='Semi-annual revenue', layout=Layout(height='40px', width='10…

In [10]:
display(out)

Output()

In [11]:
out2 = Output()

costs_types = ['Semi-annual costs','Annual costs - FY','Annual costs - CY','Consolidated semi-annual costs','Consolidated annual costs - FY','Consolidated annual costs - CY', 'clear outputs']
items2 = {}
for w2 in costs_types:
    if w2 == 'clear outputs':
        items2[w2] = widgets.Button(description=w2, layout=widgets.Layout(width='100%', height='40px'), button_style='warning', icon='check')
    else:
        items2[w2] = widgets.Button(description=w2,layout=widgets.Layout(width='100%', height='40px'))
        items2[w2].style.button_color = 'lightgreen'
left_box2 = widgets.VBox([list(items2.values())[0],list(items2.values())[1],list(items2.values())[2]],layout=box_layout)
right_box2 = widgets.VBox([list(items2.values())[3],list(items2.values())[4],list(items2.values())[5], list(items2.values())[6]],layout=box_layout)
items2['Semi-annual costs'].on_click(lambda x: display_with_out(costs.semi_costs,out2,input_dic))
items2['Annual costs - FY'].on_click(lambda x: display_with_out(costs.annual_costs,out2,input_dic))
items2['Annual costs - CY'].on_click(lambda x: display_with_out(costs.annual_costs,out2,input_dic,cal_year=True))
items2['Consolidated semi-annual costs'].on_click(lambda x: display_with_out(consolidated.costs_analysis,out2,input_dic))
items2['Consolidated annual costs - FY'].on_click(lambda x: display_with_out(consolidated.annual_costs_analysis,out2,input_dic))
items2['Consolidated annual costs - CY'].on_click(lambda x: display_with_out(consolidated.annual_costs_analysis,out2,input_dic,cal_year=True))
items2['clear outputs'].on_click(lambda x: display_with_out(clear_output,out2))
widgets.HBox([left_box2,right_box2])

HBox(children=(VBox(children=(Button(description='Semi-annual costs', layout=Layout(height='40px', width='100%…

In [12]:
display(out2)

Output()

In [13]:
ops = [i for i in list(range(general.recent_end_year, general.recent_end_year+10))]
a_slider = widgets.SelectMultiple(options=ops, description='Years for comparison')
display(a_slider)

compare1 = ['NNB comparison','AUA comparison']
box_layout2 = widgets.Layout(display='flex', flex_flow='row', align_items='stretch',border='solid',width='30%')
items3 = {}
for w3 in compare1:
    items3[w3] = widgets.Button(description=w3,layout=widgets.Layout(width='100%', height='40px'))
    items3[w3].style.button_color = 'lightgreen'
box3 = widgets.Box([list(items3.values())[0],list(items3.values())[1]],layout=box_layout2)
items3['NNB comparison'].on_click(lambda x: display(consolidated.get_nnb_compare(data_dic, input_dic,list(a_slider.value))))
items3['AUA comparison'].on_click(lambda x: display(consolidated.get_aua_compare(data_dic, input_dic,list(a_slider.value))))


display(box3)

SelectMultiple(description='Years for comparison', options=(2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 20…

Box(children=(Button(description='NNB comparison', layout=Layout(height='40px', width='100%'), style=ButtonSty…

In [14]:
compare2 = ['Interim revenue comparison','Annual revenue comparison', 'Interim costs comparison', 'Annual costs comparison']
box_layout3 = widgets.Layout(display='flex', flex_flow='row', align_items='stretch',border='solid',width='50%')
items4 = {}
for w4 in compare2:
    items4[w4] = widgets.Button(description=w4,layout=widgets.Layout(width='100%', height='40px'))
    items4[w4].style.button_color = 'lightgreen'
top_box4 = widgets.HBox([list(items4.values())[0],list(items4.values())[1]],layout=box_layout3)
bottom_box4 = widgets.HBox([list(items4.values())[2],list(items4.values())[3]],layout=box_layout3)
items4['Interim revenue comparison'].on_click(lambda x: display(consolidated.get_revenue_compare(data_dic, input_dic,True,list(a_slider.value))))
items4['Annual revenue comparison'].on_click(lambda x: display(consolidated.get_revenue_compare(data_dic, input_dic,False,list(a_slider.value))))
items4['Interim costs comparison'].on_click(lambda x: display(consolidated.get_costs_compare(input_dic,True,list(a_slider.value))))
items4['Annual costs comparison'].on_click(lambda x: display(consolidated.get_costs_compare(input_dic,False,list(a_slider.value))))

widgets.VBox([top_box4, bottom_box4])

VBox(children=(HBox(children=(Button(description='Interim revenue comparison', layout=Layout(height='40px', wi…

In [15]:
'''=====current values=======
discounted cash flow period: 9 years
perpetuity growth rate: 0.035
cash flow discounted rate: 0.085
'''
out4 = Output()
dcf_period = widgets.IntText(value=9,placeholder='Integer',description='DCF period - No. of years:')
display(dcf_period)
perp_growth = widgets.FloatText(value=0.035,placeholder='Percentage as decimals',description='Perpetuity growth rate:')
display(perp_growth)
disct_rate = widgets.FloatText(value=0.085,placeholder='Percentage as decimals',description='Cash flow discount rate:')
display(disct_rate)
current_value = widgets.Checkbox(value=False, description='Fair value now')
display(current_value)
fractional = widgets.Checkbox(value=False, description='Fractional valuation')
display(fractional)

dis_cash = ['Discounted cash flow','Fair value', 'clear outputs']
items5 = {}
for w5 in dis_cash:
    if w5 == 'clear outputs':
        items5[w5] = widgets.Button(description=w5, layout=widgets.Layout(width='100%', height='40px'), button_style='warning', icon='check')
    else:
        items5[w5] = widgets.Button(description=w5, layout=widgets.Layout(width='100%', height='40px'))
        items5[w5].style.button_color = 'lightgreen'
fair = widgets.HBox([list(items5.values())[0],list(items5.values())[1],list(items5.values())[2]],layout=box_layout3)
items5['Discounted cash flow'].on_click(lambda x: display_with_out(discf.disc_cash_flow,out4,data_dic,input_dic,now=current_value.value,fractional=fractional.value,dcf_p=dcf_period.value,disc_rate=disct_rate.value))
items5['Fair value'].on_click(lambda x: display_with_out(discf.fair_value,out4,data_dic,input_dic,now=current_value.value,fractional=fractional.value,dcf_p=dcf_period.value,disc_rate=disct_rate.value,pep_rate=perp_growth.value))   
items5['clear outputs'].on_click(lambda x: display_with_out(clear_output,out4))
display(fair)

IntText(value=9, description='DCF period - No. of years:')

FloatText(value=0.035, description='Perpetuity growth rate:')

FloatText(value=0.085, description='Cash flow discount rate:')

Checkbox(value=False, description='Fair value now')

Checkbox(value=False, description='Fractional valuation')

HBox(children=(Button(description='Discounted cash flow', layout=Layout(height='40px', width='100%'), style=Bu…

In [16]:
display(out4)

Output()

In [17]:
radio1 = widgets.RadioButtons(options=['month_no','quarter_no','half_no','financial_year','calendar_year'],description='Period')
display(radio1)

revenue_dist_radio = widgets.RadioButtons(options=[True, False],description='Semi-annual revenue distribution?')
display(revenue_dist_radio)

RadioButtons(description='Period', options=('month_no', 'quarter_no', 'half_no', 'financial_year', 'calendar_y…

RadioButtons(description='Semi-annual revenue distribution?', options=(True, False), value=True)

In [18]:
out3 = Output()

others = ['HLF composite monthly return','Revenue distribution','Avg AUA distribution','Total AUA','Total NNB nnc Algo', 'NNB distribution nnc Algo', 'clear outputs']
items6 = {}

for w6 in others:
    if w6 == 'clear outputs':
        items6[w6] = widgets.Button(description=w6, layout=widgets.Layout(width='100%', height='40px'), button_style='warning', icon='check')
    else:
        items6[w6] = widgets.Button(description=w6, layout=widgets.Layout(width='100%', height='40px'))
        items6[w6].style.button_color = 'lightgreen'
other_box1 = widgets.VBox([list(items6.values())[0],list(items6.values())[1],list(items6.values())[2]],layout=box_layout)
other_box2 = widgets.VBox([list(items6.values())[3],list(items6.values())[4],list(items6.values())[5],list(items6.values())[6]],layout=box_layout)
items6['HLF composite monthly return'].on_click(lambda x: display_with_out(discretionary_aua.get_composite_return,out3,data_dic))
items6['Total AUA'].on_click(lambda x: display_with_out(combined.total_aua,out3,data_dic,input_dic))
items6['Revenue distribution'].on_click(lambda x: display_with_out(stats.summary_revenue_dist,out3,data_dic,input_dic,revenue_dist_radio.value))
items6['Avg AUA distribution'].on_click(lambda x: display_with_out(stats.summary_avg_aua_dist,out3,data_dic,input_dic,radio1.value))
items6['Total NNB nnc Algo'].on_click(lambda x: display_with_out(combined.total_nnb_ci_clientAlgo,out3,data_dic,input_dic, opt=radio1.value))
items6['NNB distribution nnc Algo'].on_click(lambda x: display_with_out(combined.total_nnb_distribution_clientAlgo,out3,data_dic, input_dic, opt=radio1.value))
items6['clear outputs'].on_click(lambda x: display_with_out(clear_output,out3))
widgets.HBox([other_box1, other_box2])

#Financial year based

HBox(children=(VBox(children=(Button(description='HLF composite monthly return', layout=Layout(height='40px', …

In [19]:
display(out3)

Output()

In [20]:
hl_fund_size_copy = data_dic['fund size'].copy()
hl_fund_size_copy.loc[:, 'Total'] = hl_fund_size_copy.sum(axis='columns')

out5 = Output()
nnb_radio = widgets.RadioButtons(options=['day','month','semi-annual','quarter','annual'],description='Period',disabled=False)
nnb_dropdown = widgets.Dropdown(options=['no_select',None],description='Fund option',disabled=False)
unit_dropdown = widgets.Dropdown(options=['acc','inc'],description='Unit type',disabled=False)
display_total_hlf_nnb = widgets.RadioButtons(options=[True, False],description='Total HLF nnb?')
display(nnb_radio)
display(nnb_dropdown)
display(unit_dropdown)
display(display_total_hlf_nnb)

nnb_b = widgets.Button(description='Implied HLF nnb period-to-date', layout=widgets.Layout(width='50%', height='40px'))
nnb_b.style.button_color = 'lightgreen'

nnb_b2 = widgets.Button(description='HLF unit change period-to-date', layout=widgets.Layout(width='50%', height='40px'))
nnb_b2.style.button_color = 'lightgreen'

fund_size_widget = widgets.Button(description='HLF total size', layout=widgets.Layout(width='50%', height='40px'))
fund_size_widget.style.button_color = 'lightgreen'

clear_outputs_widget = widgets.Button(description='clear outputs', layout=widgets.Layout(width='50%', height='40px'), button_style='warning', icon='check')

nnb_b.on_click(lambda x: display_with_out(stats.hlf_to_date_implied_nnb,out5,data_dic,typ=nnb_radio.value,fund_opt=nnb_dropdown.value,total=display_total_hlf_nnb.value))
nnb_b2.on_click(lambda x: display_with_out(stats.hlf_to_date_unit_change,out5,data_dic, unit_type=unit_dropdown.value,typ=nnb_radio.value,fund_opt=nnb_dropdown.value))
fund_size_widget.on_click(lambda x: display_with_out((lambda y=None: hl_fund_size_copy),out5))
clear_outputs_widget.on_click(lambda x: display_with_out(clear_output,out5))

display(nnb_b)
display(nnb_b2)
display(fund_size_widget)
display(clear_outputs_widget)

RadioButtons(description='Period', options=('day', 'month', 'semi-annual', 'quarter', 'annual'), value='day')

Dropdown(description='Fund option', options=('no_select', None), value='no_select')

Dropdown(description='Unit type', options=('acc', 'inc'), value='acc')

RadioButtons(description='Total HLF nnb?', options=(True, False), value=True)

Button(description='Implied HLF nnb period-to-date', layout=Layout(height='40px', width='50%'), style=ButtonSt…

Button(description='HLF unit change period-to-date', layout=Layout(height='40px', width='50%'), style=ButtonSt…

Button(description='HLF total size', layout=Layout(height='40px', width='50%'), style=ButtonStyle(button_color…

Button(button_style='warning', description='clear outputs', icon='check', layout=Layout(height='40px', width='…

In [21]:
display(out5)

Output()

In [22]:
out6 = Output()
cash_radio = widgets.RadioButtons(options=['monthly','quarter_no','half_no','financial_year','calendar_year'],description='Period',disabled=False)
display(cash_radio)


cash_b = widgets.Button(description='Cash margin', layout=widgets.Layout(width='50%', height='40px'))
cash_b.style.button_color = 'lightgreen'
clear_outputs_widget2 = widgets.Button(description='clear outputs', layout=widgets.Layout(width='50%', height='40px'), button_style='warning', icon='check')
cash_b.on_click(lambda x: display_with_out(stats.cash_margin,out6,data_dic, input_dic, cash_radio.value))
clear_outputs_widget2.on_click(lambda x: display_with_out(clear_output,out6))

display(cash_b)
display(clear_outputs_widget2)

RadioButtons(description='Period', options=('monthly', 'quarter_no', 'half_no', 'financial_year', 'calendar_ye…

Button(description='Cash margin', layout=Layout(height='40px', width='50%'), style=ButtonStyle(button_color='l…

Button(button_style='warning', description='clear outputs', icon='check', layout=Layout(height='40px', width='…

In [23]:
display(out6)

Output()

In [24]:
out7 = Output()
eps_radio = widgets.RadioButtons(options=[True, False],description='Calendar year?',disabled=False)
display(eps_radio)

is_semi_radio = widgets.RadioButtons(options=[True, False],description='Semi-annual?',disabled=False)
display(is_semi_radio)

clear_outputs_widget3 = widgets.Button(description='clear outputs', layout=widgets.Layout(width='50%', height='40px'), button_style='warning', icon='check')

clear_outputs_widget3.on_click(lambda x: display_with_out(clear_output,out7))

eps_summary = widgets.Button(description='Net earnings and EPS', layout=widgets.Layout(width='50%', height='40px'))
eps_summary.style.button_color = 'lightgreen'
eps_summary.on_click(lambda x: display_with_out(stats.summary_total, out7, data_dic, input_dic, cal=eps_radio.value, is_semi=is_semi_radio.value))
display(eps_summary)
display(clear_outputs_widget3)

RadioButtons(description='Calendar year?', options=(True, False), value=True)

RadioButtons(description='Semi-annual?', options=(True, False), value=True)

Button(description='Net earnings and EPS', layout=Layout(height='40px', width='50%'), style=ButtonStyle(button…

Button(button_style='warning', description='clear outputs', icon='check', layout=Layout(height='40px', width='…

In [25]:
display(out7)

Output()

In [26]:
hlf_radio = widgets.RadioButtons(options=['month_no','quarter_no','half_no','financial_year','calendar_year'],description='Period',disabled=False)
display(hlf_radio)
out8 = Output()

buttom3 = ['HLF revenue margin','Monthly revenue', 'HLF avg fund size','Quarter Trading update revenue', 'clear outputs']
items7 = {}
for w7 in buttom3:
    if w7 == 'clear outputs':
        items7[w7] = widgets.Button(description=w7, layout=widgets.Layout(width='100%', height='40px'), button_style='warning', icon='check')
    else:
        items7[w7] = widgets.Button(description=w7, layout=widgets.Layout(width='100%', height='40px'))
        items7[w7].style.button_color = 'lightgreen'

top_m = widgets.HBox([list(items7.values())[0],list(items7.values())[1]],layout=box_layout3)
bottom_m = widgets.HBox([list(items7.values())[2],list(items7.values())[3],list(items7.values())[4]],layout=box_layout3)

items7['HLF revenue margin'].on_click(lambda x: display_with_out(stats.hlf_revenue_margin,out8,data_dic,input_dic,hlf_radio.value))
items7['Monthly revenue'].on_click(lambda x: display_with_out(revenue.monthly_revenue,out8,data_dic, input_dic))
items7['HLF avg fund size'].on_click(lambda x: display_with_out(stats.avg_hlf_size,out8,data_dic, input_dic,hlf_radio.value))
items7['Quarter Trading update revenue'].on_click(lambda x: display_with_out(stats.quarter_revenue,out8,data_dic, input_dic))
items7['clear outputs'].on_click(lambda x: display_with_out(clear_output,out8))


widgets.VBox([top_m, bottom_m])

RadioButtons(description='Period', options=('month_no', 'quarter_no', 'half_no', 'financial_year', 'calendar_y…

VBox(children=(HBox(children=(Button(description='HLF revenue margin', layout=Layout(height='40px', width='100…

In [27]:
display(out8)

Output()

In [28]:
display(a_slider)

out9 = Output()

client_options = ['Total No. of clients','Net new clients','fx effects on funds','clear outputs']
items8 = {}
for w8 in client_options:
    if w8 == 'clear outputs':
        items8[w8] = widgets.Button(description=w8, layout=widgets.Layout(width='100%', height='40px'), button_style='warning', icon='check')
    else:
        items8[w8] = widgets.Button(description=w8, layout=widgets.Layout(width='100%', height='40px'))
        items8[w8].style.button_color = 'lightgreen'
c_fair = widgets.HBox([list(items8.values())[0],list(items8.values())[1],list(items8.values())[2],list(items8.values())[3]],layout=box_layout3)
items8['Total No. of clients'].on_click(lambda x: display_with_out(combined.total_client_predt,out9,data_dic, input_dic, slice=list(a_slider.value)))
items8['Net new clients'].on_click(lambda x: display_with_out(combined.net_new_client_predt,out9,data_dic, input_dic, slice=list(a_slider.value)))
items8['fx effects on funds'].on_click(lambda x: display_with_out(vantage_aua.fx_effects_on_funds,out9,data_dic))
items8['clear outputs'].on_click(lambda x: display_with_out(clear_output,out9))

display(c_fair)

SelectMultiple(description='Years for comparison', options=(2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 20…

HBox(children=(Button(description='Total No. of clients', layout=Layout(height='40px', width='100%'), style=Bu…

In [29]:
display(out9)

Output()

In [30]:
# %load_ext autoreload
# %autoreload 2

In [31]:

# # =============================== fair value sensitivity analysis ===========================================

# disc_rate_list = [0.0825,0.085,0.0875,0.09,0.095,0.1]
# pep_rate_list = [0.035,0.0375,0.04,0.0425,0.045]

# df_1y = pandas.DataFrame(columns = disc_rate_list, index=pep_rate_list)
# df_1y.columns.name = 'Cost of Equity'
# df_1y.index.name = 'Long-term Growth Rate'

# for i in pep_rate_list:
#     for j in disc_rate_list:
#         df_1y.loc[i,j] = discf.fair_value(data_dic, input_dic,now=False,fractional=True,dcf_p=9,disc_rate=j,pep_rate=i).loc['Fair value per share','HL']

In [32]:
# df_1y
a = combined.total_aua(data_dic, input_dic).groupby(['calendar_year', 'month_no']).sum()

In [33]:
df = combined.total_aua(data_dic, input_dic)
fy_end_aua = df.loc[idx[:,:,:,:,:,6], :]['total_assets_aua']
fy_end_aua.index = fy_end_aua.index.droplevel(['month_end', 'half_no', 'quarter_no', 'calendar_year', 'month_no'])

In [34]:
fy_nnb = combined.total_nnb_clientAlgo(data_dic, input_dic, opt='financial_year')
nnb_as_percent_previous_aua = (fy_nnb['NNB']) / fy_end_aua.shift(1)

In [35]:
nnb_as_percent_previous_aua

financial_year
2019      nan
2020   0.0809
2021   0.0702
2022   0.0628
2023   0.0558
2024   0.0522
2025   0.0487
2026   0.0451
2027   0.0416
2028   0.0382
2029   0.0366
2030   0.0353
2031   0.0341
2032   0.0331
2033   0.0322
2034   0.0314
2035   0.0307
dtype: float64

In [36]:
fy_nnb

                               NNB
financial_year
2019              728,750,000.0000
2020            8,022,489,359.7298
2021            8,005,640,526.2414
2022            8,180,510,065.2992
2023            8,295,441,776.9974
2024            8,861,623,039.9718
2025            9,330,236,976.4179
2026            9,683,097,739.6158
2027            9,910,971,531.2782
2028           10,018,575,436.7457
2029           10,533,770,877.9935
2030           11,074,231,900.2230
2031           11,641,350,468.0837
2032           12,236,762,377.7332
2033           12,862,386,428.4072
2034           13,520,255,744.0689
2035           14,212,590,996.4518

In [37]:
df.groupby('financial_year').mean()['total_assets_aua']

financial_year
2019    99,200,000,000.0000
2020   107,284,952,888.6735
2021   122,533,307,839.7124
2022   139,912,999,741.3483
2023   159,732,178,253.5926
2024   181,232,949,271.7622
2025   203,683,256,194.6920
2026   227,002,890,190.6117
2027   251,099,392,270.9943
2028   275,879,141,251.4137
2029   301,486,541,945.2796
2030   328,196,702,349.5709
2031   356,070,073,752.1384
2032   385,170,772,534.6768
2033   415,566,812,090.5539
2034   447,330,610,065.5120
2035   480,539,023,911.1482
Name: total_assets_aua, dtype: float64

In [38]:
 a = general.fillna_monthly(input_dic['compound growth']).reindex(index=general.month_end_series).applymap(general.compound_growth_rate)

In [39]:
a[a.index <= pandas.to_datetime(general.last_day_prev_month)] = 0

In [40]:
avg_hlf_size = general.convert_fy_quarter_half_index(hl_fund_size_copy, hl_fund_size_copy.index).groupby(['financial_year', 'quarter_no']).mean()

In [41]:
avg_hlf_size

                           Asia and Emerging Markets   Balanced Managed  \
financial_year quarter_no
2015           2                                 nan                nan
               3                                 nan                nan
               4                                 nan                nan
2016           1                     83,300,000.0000   766,100,000.0000
               2                     85,110,937.5000   773,805,781.2500
               3                     86,061,290.3226   763,185,967.7419
               4                     93,782,539.6825   838,612,539.6825
2017           1                    115,406,000.0000   906,617,384.6154
               2                    147,571,111.1111   952,407,301.5873
               3                    183,730,000.0000 1,024,883,437.5000
               4                    201,032,295.0820 1,101,065,573.7705
2018           1                    214,019,032.2581 1,135,311,774.1935
               2                    225,604,426.2295 1,164,791,147.5410
               3                    232,607,142.8571 1,182,838,888.8889
               4                    228,776,190.4762 1,218,207,142.8571
2019           1                    224,584,444.4444 1,245,686,031.7460
               2                    209,414,833.3333 1,192,264,166.6667
               3                    215,065,806.4516 1,176,130,967.7419
               4                    220,416,333.3333 1,211,331,333.3333
2020           1                    222,660,461.5385 1,205,397,076.9231

                           Equity and Bond         European      High Income  \
financial_year quarter_no
2015           2                       nan              nan              nan
               3                       nan              nan              nan
               4                       nan              nan              nan
2016           1          184,300,000.0000 117,300,000.0000              nan
               2          147,099,531.2500 119,346,875.0000              nan
               3          151,612,580.6452 114,519,354.8387              nan
               4          210,073,968.2540 115,436,507.9365              nan
2017           1          223,200,923.0769 121,798,307.6923 305,100,000.0000
               2          233,151,111.1111 125,724,920.6349 345,853,015.8730
               3          247,405,468.7500 139,229,531.2500 443,491,562.5000
               4          267,837,704.9180 156,153,114.7541 473,087,868.8525
2018           1          278,451,129.0323 168,622,096.7742 494,489,193.5484
               2          287,697,704.9180 183,207,868.8525 518,490,983.6066
               3          291,425,396.8254 188,024,603.1746 523,914,761.9048
               4          302,217,777.7778 190,387,142.8571 553,957,301.5873
2019           1          309,032,857.1429 195,677,777.7778 569,861,269.8413
               2          297,430,000.0000 175,744,166.6667 548,392,833.3333
               3          297,741,774.1935 169,373,225.8065 551,410,000.0000
               4          305,005,166.6667 175,925,500.0000 565,487,166.6667
2020           1          293,129,846.1538 179,941,230.7692 554,858,000.0000

                           Income and Growth  Special Situations  \
financial_year quarter_no
2015           2                         nan                 nan
               3                         nan                 nan
               4                         nan                 nan
2016           1          2,558,800,000.0000    959,700,000.0000
               2          1,129,431,093.7500    954,755,625.0000
               3          1,270,425,806.4516    942,470,161.2903
               4          2,684,753,968.2540  1,066,689,841.2698
2017           1          2,817,380,000.0000  1,175,119,230.7692
               2          2,878,879,841.2698  1,262,899,365.0794
               3          3,003,073,125.0000  1,380,772,187.5000
               4          3,157,597,540.9836  1,524,229,836.0656
2018           1          3,161,832,258.0645  1,600,907,580.6452
               2          3,181,483,770.4918  1,685,334,590.1639
               3          3,132,682,539.6825  1,719,660,000.0000
               4          3,239,669,047.6190  1,798,688,253.9683
2019           1          3,229,173,492.0635  1,867,109,206.3492
               2          2,973,865,000.0000  1,765,292,166.6667
               3          2,943,967,096.7742  1,746,474,838.7097
               4          2,955,033,666.6667  1,819,378,000.0000
2020           1          2,744,935,384.6154  1,803,216,000.0000

                           Strategic Assets     Strategic Bond  \
financial_year quarter_no
2015           2                        nan                nan
               3                        nan                nan
               4                        nan                nan
2016           1                        nan   702,200,000.0000
               2                        nan   178,513,593.7500
               3           113,800,000.0000   242,389,677.4194
               4           117,347,619.0476   760,870,793.6508
2017           1           126,260,307.6923   806,555,538.4615
               2           130,775,714.2857   805,426,825.3968
               3           137,548,906.2500   804,122,031.2500
               4           141,294,918.0328   848,372,622.9508
2018           1           156,163,548.3871   878,141,774.1935
               2           180,538,032.7869   900,406,885.2459
               3           179,880,158.7302   926,806,507.9365
               4           189,646,507.9365   977,177,301.5873
2019           1           201,961,111.1111 1,028,538,412.6984
               2           196,075,333.3333 1,027,058,500.0000
               3           195,626,129.0323 1,028,335,645.1613
               4           196,553,000.0000 1,051,237,166.6667
2020           1           192,682,461.5385 1,059,293,384.6154

                                 UK Growth  Select UK Growth Shares  \
financial_year quarter_no
2015           2                       nan                      nan
               3                       nan                      nan
               4                       nan                      nan
2016           1          191,500,000.0000                      nan
               2          196,589,687.5000                      nan
               3          187,379,193.5484                      nan
               4          186,721,904.7619                      nan
2017           1          186,940,923.0769                      nan
               2          191,526,825.3968                      nan
               3          203,259,531.2500                      nan
               4          216,079,180.3279         256,360,000.0000
2018           1          219,008,225.8065         257,512,580.6452
               2          224,164,426.2295         263,896,393.4426
               3          221,988,571.4286         257,049,047.6190
               4          229,088,730.1587         271,959,523.8095
2019           1          231,271,904.7619         290,914,444.4444
               2          208,951,666.6667         265,563,000.0000
               3          203,448,548.3871         268,569,032.2581
               4          207,859,000.0000         293,111,166.6667
2020           1          193,757,230.7692         294,089,538.4615

                           Select UK Income Shares  \
financial_year quarter_no
2015           2                               nan
               3                               nan
               4                               nan
2016           1                               nan
               2                               nan
               3                               nan
               4                               nan
2017           1                               nan
               2                               nan
               3                               nan
               4                  266,720,000.0000
2018           1                  256,054,677.4194
               2                  237,801,311.4754
               3                  212,316,984.1270
               4                  210,928,253.9683
2019           1                  199,894,126.9841
               2                  177,607,333.3333
               3                  181,038,870.9677
               4                  187,344,500.0000
2020           1                  176,974,461.5385

                           Select Global Growth Shares              Total
financial_year quarter_no
2015           2                                   nan             0.0000
               3                                   nan             0.0000
               4                                   nan             0.0000
2016           1                                   nan    84,290,909.0909
               2                                   nan 3,584,653,125.0000
               3                                   nan 3,759,879,516.1290
               4                                   nan 6,074,289,682.5397
2017           1                                   nan 6,483,972,461.5385
               2                                   nan 7,074,216,031.7460
               3                                   nan 7,567,515,781.2500
               4                                   nan 8,095,325,737.7049
2018           1                                   nan 8,413,413,230.7692
               2                                   nan 8,496,284,153.8462
               3                                   nan 8,790,142,461.5385
               4                                   nan 9,121,143,076.9231
2019           1                                   nan 9,298,514,153.8462
               2                                   nan 8,216,053,636.3636
               3                                   nan 8,834,686,984.1270
               4                      321,286,756.7568 9,386,808,833.3333
2020           1                      364,672,615.3846 9,285,607,692.3077

In [42]:
revenue.monthly_revenue(data_dic, input_dic)#.sum(axis='columns')

,,,,,,cash_interest,cash_service,platform_fee,pms_advice,hlf_amc
month_end,financial_year,quarter_no,half_no,calendar_year,month_no,,,,,
2019-06-28,2019,4,2,2019,6,"6,751,203.4826","41,666.6667","18,168,500.0000","1,133,333.3333","5,703,516.7397"
2019-07-31,2020,1,1,2019,7,"6,716,147.5788","45,750.0000","18,616,435.2954","1,162,636.1706","5,929,587.0000"
2019-08-30,2020,1,1,2019,8,"6,674,978.1513","49,833.3333","18,267,304.1515","1,119,306.1805","5,734,545.5753"
2019-09-30,2020,1,1,2019,9,"6,653,471.0357","53,916.6667","18,733,233.7016","1,139,938.2400","5,573,891.8356"
2019-10-31,2020,2,1,2019,10,"6,840,785.7846","58,000.0000","18,957,510.9807","1,146,137.9011","5,785,299.4741"
2019-11-29,2020,2,1,2019,11,"6,856,415.1885","62,083.3333","19,180,766.4810","1,152,360.9804","5,626,837.4529"
2019-12-31,2020,2,1,2019,12,"6,858,597.7595","66,166.6667","19,404,458.7097","1,158,611.1541","5,843,639.0017"
2020-01-31,2020,3,2,2020,1,"6,837,579.2406","70,250.0000","19,583,849.1263","1,164,684.0101","5,875,244.9641"
2020-02-28,2020,3,2,2020,2,"6,825,661.9164","74,333.3333","19,763,673.5070","1,170,799.6951","5,527,609.4356"
2020-03-31,2020,3,2,2020,3,"6,857,532.2490","78,416.6667","20,032,712.3762","1,177,441.4963","5,944,842.5595"
2020-04-30,2020,4,2,2020,4,"6,885,592.0511","82,500.0000","20,276,617.8254","1,183,998.2682","5,788,842.0026"
2020-05-29,2020,4,2,2020,5,"6,895,184.8571","86,583.3333","20,444,975.7007","1,190,169.2162","6,019,032.5316"
2020-06-30,2020,4,2,2020,6,"6,930,448.3330","93,250.0000","20,613,777.2010","1,196,381.3023","5,862,657.0372"
2020-07-31,2021,1,1,2020,7,"7,003,797.4345","99,916.6667","20,799,635.7699","1,202,736.6754","6,096,913.9075"
2020-08-31,2021,1,1,2020,8,"7,090,132.5843","106,583.3333","20,985,941.0366","1,209,136.3542","6,136,021.0306"
2020-09-30,2021,1,1,2020,9,"7,155,624.9730","113,250.0000","21,172,695.2111","1,215,580.4759","5,976,714.9421"
2020-10-30,2021,2,1,2020,10,"7,229,629.2657","119,916.6667","21,382,724.6129","1,222,221.3175","6,217,147.2750"
2020-11-30,2021,2,1,2020,11,"7,303,788.1077","126,583.3333","21,593,196.4306","1,228,930.9752","6,058,376.6394"
2020-12-31,2021,2,1,2020,12,"7,378,102.2515","133,250.0000","21,804,076.3597","1,235,790.0583","6,308,160.8499"
2021-01-29,2021,3,2,2021,1,"7,454,100.6882","139,916.6667","22,019,592.0974","1,242,711.6401","6,372,456.1966"
2021-02-26,2021,3,2,2021,2,"7,530,255.9422","146,583.3333","22,235,742.2957","1,249,566.7866","5,830,531.6136"
2021-03-31,2021,3,2,2021,3,"7,650,350.3453","153,250.0000","22,572,011.1018","1,257,319.3399","6,544,008.7346"
2021-04-30,2021,4,2,2021,4,"7,746,173.5434","159,916.6667","22,841,989.3805","1,264,616.6955","6,410,233.4470"
2021-05-31,2021,4,2,2021,5,"7,810,589.0676","166,583.3333","23,026,174.3549","1,271,317.4520","6,694,388.9542"
2021-06-30,2021,4,2,2021,6,"7,875,164.4847","173,250.0000","23,210,835.9470","1,278,047.7777","6,547,021.5004"
2021-07-30,2022,1,1,2021,7,"7,941,893.5241","186,583.3333","23,401,422.9327","1,284,847.3400","6,830,327.6237"
2021-08-31,2022,1,1,2021,8,"8,008,784.0167","199,916.6667","23,592,491.1873","1,291,676.7599","6,890,539.3989"
2021-09-30,2022,1,1,2021,9,"8,075,836.7484","213,250.0000","23,784,043.0533","1,298,536.1828","6,726,330.4566"
2021-10-29,2022,2,1,2021,10,"8,152,539.3792","226,583.3333","24,002,007.1701","1,305,613.8960","7,010,806.4439"
2021-11-30,2022,2,1,2021,11,"8,229,405.8324","239,916.6667","24,220,459.6178","1,312,721.9050","6,843,293.7162"
...,...,...,...,...,...,...,...,...,...,...
2033-01-31,2033,3,2,2033,1,"22,166,696.5109","2,873,250.0000","63,896,576.6565","2,645,938.9300","20,616,958.6913"
2033-02-28,2033,3,2,2033,2,"22,291,558.8399","2,893,250.0000","64,253,962.9520","2,659,170.0657","18,782,702.2805"
2033-03-31,2033,3,2,2033,3,"22,476,458.3651","2,913,250.0000","64,775,501.1152","2,673,644.1943","20,973,761.3088"
2033-04-29,2033,4,2,2033,4,"22,649,172.7810","2,933,250.0000","65,263,818.1031","2,687,929.2757","20,452,803.9742"
2033-05-31,2033,4,2,2033,5,"22,768,739.1288","2,953,250.0000","65,606,968.2827","2,701,213.1985","21,276,428.0416"
2033-06-30,2033,4,2,2033,6,"22,888,627.2126","2,973,250.0000","65,951,077.5108","2,714,556.6199","20,728,118.1326"
2033-07-29,2034,1,1,2033,7,"23,011,954.7068","2,993,250.0000","66,304,666.3431","2,728,021.6277","21,550,023.7714"
2033-08-31,2034,1,1,2033,8,"23,135,607.0767","3,013,250.0000","66,659,223.5830","2,741,546.7149","21,671,220.7085"
2033-09-30,2034,1,1,2033,9,"23,259,585.9035","3,033,250.0000","67,014,753.9443","2,755,132.1739","21,089,019.6354"
2033-10-31,2034,2,1,2033,10,"23,410,236.5348","3,053,250.0000","67,443,255.9586","2,769,300.7417","21,913,281.4784"
2033-11-30,2034,2,1,2033,11,"23,561,216.8090","3,073,250.0000","67,872,740.5909","2,783,530.2704","21,324,414.1538"
2033-12-30,2034,2,1,2033,12,"23,712,528.3304","3,093,250.0000","68,303,212.6240","2,797,821.0568","22,157,777.7884"
2034-01-31,2034,3,2,2034,1,"23,844,127.8578","3,113,250.0000","68,679,897.0920","2,811,775.8745","22,318,571.9292"
2034-02-28,2034,3,2,2034,2,"23,976,061.8652","3,133,250.0000","69,057,578.5967","2,825,792.5477","20,329,299.2580"
2034-03-31,2034,3,2,2034,3,"24,171,215.2393","3,153,250.0000","69,608,113.1125","2,841,118.4630","22,696,782.7037"
2034-04-28,2034,4,2,2034,4,"24,353,311.7073","3,173,250.0000","70,123,048.6958","2,856,241.1981","22,129,581.8544"
2034-05-31,2034,4,2,2034,5,"24,479,561.6296","3,193,250.0000","70,485,447.6742","2,870,312.4305","23,017,623.1409"
2034-06-30,2034,4,2,2034,6,"24,606,152.5920","3,213,250.0000","70,848,863.2441","2,884,446.7317","22,421,427.2368"
2034-07-31,2035,1,1,2034,7,"24,736,076.5966","3,233,250.0000","71,221,472.5394","2,898,703.7123","23,307,633.6955"
2034-08-31,2035,1,1,2034,8,"24,866,344.9694","3,253,250.0000","71,595,108.3468","2,913,024.3770","23,436,084.3755"
2034-09-29,2035,1,1,2034,9,"24,996,959.3866","3,273,250.0000","71,969,775.6628","2,927,409.0359","22,803,964.7697"
2034-10-31,2035,2,1,2034,10,"25,156,090.3341","3,293,250.0000","72,422,460.8903","2,942,416.6373","23,692,678.7000"
2034-11-30,2035,2,1,2034,11,"25,315,570.7031","3,313,250.0000","72,876,187.6927","2,957,488.8573","23,053,492.2284"
2034-12-29,2035,2,1,2034,12,"25,475,402.1942","3,333,250.0000","73,330,961.1399","2,972,626.0105","23,951,993.0009"
2035-01-31,2035,3,2,2035,1,"25,614,463.7109","3,353,250.0000","73,729,060.6632","2,987,409.5106","24,124,583.8682"
2035-02-28,2035,3,2,2035,2,"25,753,879.7764","3,373,250.0000","74,128,217.0453","3,002,258.5776","21,970,771.1958"
2035-03-30,2035,3,2,2035,3,"25,959,874.3882","3,393,250.0000","74,709,411.6064","3,018,486.8346","24,525,440.4886"
2035-04-30,2035,4,2,2035,4,"26,151,873.4662","3,413,250.0000","75,252,447.1225","3,034,496.6423","23,907,787.7514"
2035-05-31,2035,4,2,2035,5,"26,285,186.7948","3,433,250.0000","75,635,191.9386","3,049,402.0030","24,864,098.2888"
2035-06-29,2035,4,2,2035,6,"26,418,861.6258","3,453,250.0000","76,019,014.3415","3,064,374.2165","23,408,850.9392"

In [ ]:
vantage_aua.fx_effects_on_funds()